**문제**    
124 나라의 숫자 (level 2)

문제설명    
124 나라가 있습니다. 124 나라에서는 10진법이 아닌 다음과 같은 자신들만의 규칙으로 수를 표현합니다.    

1. 124 나라에는 자연수만 존재합니다.
2. 124 나라에는 모든 수를 표현할 때 1, 2, 4만 사용합니다.

예를 들어서 124 나라에서 사용하는 숫자는 다음과 같이 변환됩니다.   

10진법|124 나라|10진법|124 나라
---|---|---|---
1|1|6|14
2|2|7|21
3|4|8|22
4|11|9|24
5|12|10|41

자연수 n이 매개변수로 주어질 때, n을 124 나라에서 사용하는 숫자로 바꾼 값을 return 하도록 solution 함수를 완성해 주세요.   

제한사항   
- n은 500,000,000이하의 자연수 입니다.

<br>

[접근]

In [4]:
def test1(n):
    # q: quotient
    q = n//3
    # r: remain
    r = n%3
    return q, r

In [37]:
print(test1(1))    # 1
print(test1(2))    # 2
print(test1(3))    # 4
print(test1(4))   # 11
print(test1(5))   # 12
print(test1(6))   # 14
print(test1(7))   # 21
print(test1(8))   # 22
print(test1(9))   # 24
print(test1(10))  # 41
print(test1(11))  # 42
print(test1(12))  # 44
print(test1(13)) # 111
print(test1(14)) # 112

(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [45]:
def test2(n):
    q, r = n//3, n%3
    if r == 0: q -= 1
    return q,r

In [48]:
print(test2(1))
print(test2(2))
print(test2(3))
print(test2(4))
print(test2(5))
print(test2(6))
print(test2(7))

(0, 1)
(0, 2)
(0, 0)
(1, 1)
(1, 2)
(1, 0)
(2, 1)

In [49]:
def test3(n):
    q, r = n//3, n%3
    if r == 0: q -= 1
    return q,"412"[r]

In [52]:
print(test3(1))
print(test3(2))
print(test3(3))
print(test3(4))
print(test3(5))
print(test3(6))
print(test3(7))
print()
print(test3(10))
print(test3(13))
print()
print(test3(test3(10)[0]), test3(10)[1])

(0, '1')
(0, '2')
(0, '4')
(1, '1')
(1, '2')
(1, '4')
(2, '1')

(3, '1')
(4, '1')

(0, '4') 1

In [56]:
def test4(n):
    answer = ""
    while n > 0:
        n, r = n//3, n%3
        if r == 0: n -= 1
        answer = "412"[r] + answer
    return int(answer)

In [57]:
print(test4(1))    # 1
print(test4(2))    # 2
print(test4(3))    # 4
print(test4(4))   # 11
print(test4(5))   # 12
print(test4(6))   # 14
print(test4(7))   # 21
print(test4(8))   # 22
print(test4(9))   # 24
print(test4(10))  # 41
print(test4(11))  # 42
print(test4(12))  # 44
print(test4(13)) # 111
print(test4(14)) # 112

1
2
4
11
12
14
21
22
24
41
42
44
111
112

In [ ]:
def solution(n):
    answer = ""
    while n > 0:
        n, r = n//3, n%3
        if r == 0: n -= 1
        answer = "412"[r] + answer
    return answer

문제 출처
- https://programmers.co.kr/learn/courses/30/lessons/12899